@model kevinchicaiza_Examen1P.Models.KcGymshark

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KcGymshark</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KCName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KCName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KCtallas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KCtallas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KCPrecio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KCPrecio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emaildelusuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emaildelusuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KCFechadeEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KCFechadeEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KCFechadeSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KCFechadeSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KCColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KCColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KCGenero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KCGenero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KcTipodegenero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KcTipodegenero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KCDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KCDescripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KCRopaid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
